@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --page-color: #2C3E50;
    --texto: #fff;
    --detalles: #D2B48C;
    --footer: #00000015;
}
*::before, *::after, html{
    box-sizing: border-box;
}
html{
    font-size: 62.5%; /* 1rem = 10px */
    background-color: var(--page-color);
    font-family: "Poppins", serif;
    color: white;
    scroll-behavior: smooth;
}
header{
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
header img{
    height:70%;
    border-radius: 50px;
    margin: 1rem 2rem;
}
header p{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}
.vh80{
    position: relative;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-weight: 700;
    text-align: center;
    font-size: 7rem;
    margin-top: -6rem; /* No mires esta linea porfa si eres una empresa es porque lo estoy haciendo a contrareloj */
}
h1 .subtitle{
    display: block;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 200;
}
@media (max-width: 468px) {
    h1{
        font-size: 5rem;
    }
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px); /* Ajusta el valor para cambiar la altura del movimiento */
    }
}
h1{
    animation: bounce 2s ease-in-out infinite; /* Ajusta el tiempo y tipo de animación según prefieras */
}
.dorado{
    color: var(--detalles);
}
.vh100{
    min-height: 100vh;
    width: 100%;
    padding: 2rem 0 0 0;
}
.vh100 h2{
    padding: 1rem 2rem;
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 5rem;
}
.container {
    width: 90%;
    border: 1px solid var(--detalles);
    margin: 0 auto;
    padding: 2rem;
}
#projects a{
    text-decoration: none;
}
.grid-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
    margin: 0 auto;
}

#first {
    background: url('../img/medicos1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#second {
    background: url('../img/reciclaje.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#third {
    background: url('../img/esquiador.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#fourth {
    background: url('../img/CuerpoCompleto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card {
    color: white;
    /* padding: 20px; */
    border-radius: 10px;
    width: 90%;
    height: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    margin: 0 auto;
    overflow: hidden;

}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


.card:hover::before {
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.5);
}



.card h3,
.card p {
    position: relative;
    z-index: 2;
    padding: 1rem 0.5rem;
}

h3 {
    font-size: 2.5rem;
    font-weight: 700;
}
.card p{
    font-size: 1.9rem;
    padding: 0 0.5rem;
    line-height: 2.5rem;
    opacity: 0;
}
.card:hover p{
    transition: 1s;
    opacity: 1;
}
@media (max-width: 1280px) {
    .grid-projects {
        grid-template-columns: repeat(2, 1fr); /* Define columnas de tamaño igual */
    }
    .card::before{
        background-color: rgba(0, 0, 0, 0.5);
    }
    .card p{
        opacity: 1;
    }
}
@media (max-width: 468px) {
    h2, h3{
        text-align: center;
    }
    .container{
        border: none;
    }
    .grid-projects {
        display: grid;
        grid-template-columns: 1fr; /* Define columnas de tamaño igual */
    }
}
footer{
    margin-top: 2rem;
    position: relative;
    height: 20vh;
    border-top: 1px solid var(--detalles);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
footer a{
    z-index: 2;
    text-decoration: none;
    color: white;
    
}
footer a:visited{
    color: white;
}
footer a svg{
    background-color: white;
    padding: 1rem;
    color: black;
    border-radius: 50px;
    box-shadow: 0px 0px 10px black;
}
footer a svg:hover{
    transition: 1s;
    transform: scale(1.3);
    color: white;
}
.git:hover{
    background-color: purple;
}
.linkedin:hover{
    background-color: blue;
}
.mail:hover{
    background-color: red;
}
@media (max-width: 768px) {
    footer a svg{
        color: white;
    }
    .git{
        background-color: purple;
    }
    .linkedin{
        background-color: blue;
    }
    .mail{
        background-color: red;
    }
}
